.body{
    background-color: beige;
}
.base{
    display: flex;
    position: absolute;
    left: 100px;
    /* width: 80vw; */
    background: rgb(143, 124, 194);
    padding: 20px;
}

.left{
    height: 1000px;
    width: 300px;
    padding: 30px;
    /* margin: 100px; */
    position: relative;
    top: 0;
    left: 0;
    background-color: rgb(199, 199, 239);
    z-index: 2;
    
}
.right{

    height: 1000px;
    width: 500px;
    background: rgb(143, 124, 194);
    position: relative;
    left: 0;
    top: 0;
    z-index: 2;
    padding: 30px;
    }
    
.name{
    position: relative;
    z-index: 2;
    font-size:xx-large;


    ;
}
.contact{
font-size: xx-large;
font-weight: 1000;
font-style: italic;
/* text-decoration: underline; */
}
.address{
    font-weight: bold;
    font-size: large;
}

.line1{
    height: 1px;
background: black;
}
.number{
    font-weight: bold;
    font-size: large;

}
.email{
    font-weight: bold;
    font-size: large;
}

.languages{
font-size: xx-large;
font-weight: 1000;
font-style: italic;
}
.line2{
    height: 1px;
background: black;
}

.hobbies{
font-size: xx-large;
font-weight: 1000;
font-style: italic;
}

.line3{
    height: 1px;
background: black;
}
.dp{
    border-radius: 0;
    overflow: hidden;
    width: 280px;
    height: 280px;
    background: red;
}
.summary{
    font-size: xx-large;
font-weight: 1000;
font-style: italic;
}

.line4{
    height: 1px;
background: black;
}

.sum{
    font-size: large;
}
.skills{
font-size: xx-large;
font-weight: 1000;
font-style: italic;
}
.line5{
    height: 1px;
background: black;
}
.sk{
    font-size: large;
    list-style-type: square;
}
.experience{
font-size: xx-large;
font-weight: 1000;
font-style: italic;
}
.line6{
height: 1px;
background: black;
}
.exp{
    font-size: large;
    list-style-type: square;
}
.achievments{
    font-size: xx-large;
font-weight: 1000;
font-style: italic;
}
.line7{
    height: 1px;
    background: black;
    }
 .ac{
      font-size: large;
       list-style-type: square;
 }
 .education{
    font-size: xx-large;
font-weight: 1000;
font-style: italic;
}
.line8{
    height: 1px;
    background: black;
    }
 .ed{
      font-size: large;
       list-style-type: square;
 }




